.navigation {
  display: block;
  box-sizing: border-box;
  width: 100%;
  color: #000;
  margin: 0;
  padding: 0 70px;
}

.navigation__header-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 0 0 44px;
  padding: 0;
}

.navigation__header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 212px;
}

.navigation__header-link-movies {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

.navigation__header-link-saved-movies {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

.navigation__account-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  min-width: 100px;
  min-height: 32px;
  padding: 0 11px;
  border-radius: 50px;
  color: #000;
}

.navigation__subtitle-account {
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}

.navigation__icon-account {
  width: 11px;
  height: 11px;
  background-image: url('../../images/iconAccount.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  display: block;
  background-color: #F9F9F9;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.navigation__icon-hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation {
    padding: 0 30px;
  }

  .navigation__header-links {
    display: none;
  }

  .navigation__account-container {
    display: none;
  }

  .navigation__icon-hamburger {
    display: block;
  }

  .navigation__header-conteiner {
    justify-content: flex-end;
  }
}
