.saved-movies {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.saved-movies__content-container {
  padding-bottom: 247px;
}

.saved-movies__delete-image {
  background-image: url(../../images/iconDelete.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 7px 7px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  align-self: center;
  background-color: #FDFDFD;
  opacity: 0;
}

.saved-movies__description-container:hover .saved-movies__delete-image {
  opacity: 1;
  cursor: pointer;
}

.saved-movies__search-form__checkbox-container {
  border-bottom: 1px solid #E8E8E8;
}

.saved-movies__hide-block-more-items {
  display: none;
}

