.register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 396px;
  margin: 0 auto;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
}

.register__header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 126px;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
}

.register__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 357px;
  margin: 0;
  padding: 22px 0 0 0;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
}

.register__form {
  text-align: start;
}

.register__input{

}

.register__input__container {

}

.register__input__container_error {
  border-bottom: 1px solid #FF6838;
}

.register__input__item {

}

.register__input__item_error {
  color: #EE3465;
}

.register__footer {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 217px;
}

.register__footer__container {

}

.register__footer__button {

}

.register__footer__text-container {

}

.register__footer__text {
  margin: 0 6px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
}

.register__footer__button-login {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FF6838;
  border: none;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .register__header {
    min-height: 288px;
  }

  .register__footer {
    min-height: 379px;
    padding-top: 69px;
  }

  .register__footer__container {

  }
}

@media screen and (max-width: 470px) {
  .register {
    width: 100%;
    align-items: center;
  }

  .register__header {
    width: calc(100% - ( 30px * 2 ));
    justify-content: center;
    align-items: center;
    min-height: 144px;
    padding: 6px 0 0;
  }

  .register__main {
    width: calc(100% - ( 30px * 2 ));
    padding: 0;
    min-height: 375px;
  }

  .register__footer {
    width: calc(100% - ( 30px * 2 ));
  }

  .register__header__elem {
    width: fit-content;
  }

  .register__header__links {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .register__footer {
    min-height: 261px;
    padding: 0;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .register__footer__text {
    font-size: 12px;
    line-height: 15px;
  }

  .register__footer__button-login {
    font-size: 12px;
    line-height: 15px;
  }
}


